<html></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Profile and Marks Form</title>
</head>
<body><center>
    <h1>Enter Student Profile</h1>
    <form action="/studentp&m" method="POST">
        <label for="name">Student Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required><br><br>

        <label for="school">School:</label>
        <input type="text" id="school" name="school" required><br><br>
         <br><br>

        <hr>

        <br><br>
        <h1>Enter Student Marks</h1>
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" required><br><br>

        <label for="fullMarks">Full Marks:</label>
        <input type="number" id="fullMarks" name="fullMarks" required><br><br>

        <label for="marksObtained">Marks Obtained:</label>
        <input type="number" id="marksObtained" name="marksObtained" required><br><br>

        <input type="submit" value="Submit">
    </form>
</body></center>
</html>