<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <h2>SECTION 1: PERSONAL INFORMATION</h2>
    <fieldset>
        <legend>Personal Information</legend>
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Student Id:</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Date of Birth:</td>
                <td><input type="date" name="dob"></td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td>
                    <input type="radio" name="gender" value="Male"> Male
                    <input type="radio" name="gender" value="Female"> Female
                </td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input type="text" name="address"></td>
            </tr>
            <tr>
                <td>Postcode:</td>
                <td><input type="text" name="postcode"></td>
            </tr>
            <tr>
                <td>Town:</td>
                <td><input type="text" name="town"></td>
            </tr>
            <tr>
                <td>State:</td>
                <td><input type="text" name="state"></td>
            </tr>
            <tr>
                <td>Country:</td>
                <td><input type="text" name="country"></td>
            </tr>
            <tr>
                <td>Mobile No.:</td>
                <td><input type="text" name="mobile_no"></td>
            </tr>
        </table>
    </fieldset>

    <h2>SECTION 2: CONTACT INFORMATION</h2>
    <fieldset>
        <legend>Contact Information</legend>
        <table>
            <tr>
                <td>Email:</td>
                <td><input type="email" name="email"></td>
            </tr>
            <tr>
                <td>Alternative Mobile No.:</td>
                <td><input type="text" name="alt_mobile_no"></td>
            </tr>
            <tr>
                <td>Emergency Contact Name:</td>
                <td><input type="text" name="emergency_contact_name"></td>
            </tr>
            <tr>
                <td>Emergency Contact Number:</td>
                <td><input type="text" name="emergency_contact_number"></td>
            </tr>
        </table>
    </fieldset>

    <h2>SECTION 3: EMPLOYMENT HISTORY</h2>
    <fieldset>
        <legend>Employment History</legend>
        <table>
            <tr>
                <th>Company Name</th>
                <th>Position</th>
                <th>Duration</th>
                <th>Responsibilities</th>
            </tr>
            <tr>
                <td><input type="text" name="company_name_1"></td>
                <td><input type="text" name="position_1"></td>
                <td><input type="text" name="duration_1"></td>
                <td><input type="text" name="responsibilities_1"></td>
            </tr>
            <tr>
                <td><input type="text" name="company_name_2"></td>
                <td><input type="text" name="position_2"></td>
                <td><input type="text" name="duration_2"></td>
                <td><input type="text" name="responsibilities_2"></td>
            </tr>
            <tr>
                <td><input type="text" name="company_name_3"></td>
                <td><input type="text" name="position_3"></td>
                <td><input type="text" name="duration_3"></td>
                <td><input type="text" name="responsibilities_3"></td>
            </tr>
        </table>
    </fieldset>

    <h2>SECTION 4: ACADEMIC QUALIFICATION</h2>
    <fieldset>
        <legend>Qualification</legend>
        <table>
            <tr>
                <td>SPM:</td>
                <td><input type="checkbox" name="qualification" value="SPM"></td>
                <td>Year Completed:</td>
                <td><input type="text" name="spm_year_completed"></td>
            </tr>
            <tr>
                <td>STPM:</td>
                <td><input type="checkbox" name="qualification" value="STPM"></td>
                <td>Year Completed:</td>
                <td><input type="text" name="stpm_year_completed"></td>
            </tr>
            <tr>
                <td>O LEVEL:</td>
                <td><input type="checkbox" name="qualification" value="O LEVEL"></td>
                <td>Year Completed:</td>
                <td><input type="text" name="o_level_year_completed"></td>
            </tr>
            <tr>
                <td>A LEVEL:</td>
                <td><input type="checkbox" name="qualification" value="A LEVEL"></td>
                <td>Year Completed:</td>
                <td><input type="text" name="a_level_year_completed"></td>
            </tr>
            <tr>
                <td>Others:</td>
                <td><input type="checkbox" name="qualification" value="Others"></td>
                <td>Year Completed:</td>
                <td><input type="text" name="others_year_completed"></td>
            </tr>
        </table>
    </fieldset>
    <fieldset>
        <legend>Subjects and Grades</legend>
        <table>
            <tr>
                <th>Subject</th>
                <th>Grade</th>
            </tr>
            <tr>
                <td><input type="text" name="subject_1"></td>
                <td><input type="text" name="grade_1"></td>
            </tr>
            <tr>
                <td><input type="text" name="subject_2"></td>
                <td><input type="text" name="grade_2"></td>
            </tr>
            <tr>
                <td><input type="text" name="subject_3"></td>
                <td><input type="text" name="grade_3"></td>
            </tr>
            <tr>
                <td><input type="text" name="subject_4"></td>
                <td><input type="text" name="grade_4"></td>
            </tr>
            <tr>
                <td><input type="text" name="subject_5"></td>
                <td><input type="text" name="grade_5"></td>
            </tr>
            <tr>
                <td><input type="text" name="subject_6"></td>
                <td><input type="text" name="grade_6"></td>
            </tr>
            <tr>
                <td><input type="text" name="subject_7"></td>
                <td><input type="text" name="grade_7"></td>
            </tr>
            <tr>
                <td><input type="text" name="subject_8"></td>
                <td><input type="text" name="grade_8"></td>
            </tr>
            <tr>
                <td><input type="text" name="subject_9"></td>
                <td><input type="text" name="grade_9"></td>
            </tr>
            <tr>
                <td><input type="text" name="subject_10"></td>
                <td><input type="text" name="grade_10"></td>
            </tr>
            <tr>
                <td><input type="text" name="subject_11"></td>
                <td><input type="text" name="grade_11"></td>
            </tr>
            <tr>
                <td><input type="text" name="subject_12"></td>
                <td><input type="text" name="grade_12"></td>
            </tr>
        </table>
    </fieldset>
    <fieldset>
        <legend>CGPA / Grade</legend>
        <input type="text" name="cgpa_grade">
    </fieldset>
    <fieldset>
        <legend>Course Details</legend>
        <table>
            <tr>
                <th>Name of Course</th>
                <th>Name of Institution & Country</th>
                <th>Year of Attendance</th>
            </tr>
            <tr>
                <td><input type="text" name="course_name_1"></td>
                <td><input type="text" name="institution_name_1"></td>
                <td><input type="text" name="attendance_year_1"></td>
            </tr>
            <tr>
                <td><input type="text" name="course_name_2"></td>
                <td><input type="text" name="institution_name_2"></td>
                <td><input type="text" name="attendance_year_2"></td>
            </tr>
            <tr>
                <td><input type="text" name="course_name_3"></td>
                <td><input type="text" name="institution_name_3"></td>
                <td><input type="text" name="attendance_year_3"></td>
            </tr>
        </table>
    </fieldset>

    <h2>SECTION 5: PROGRAMME OF STUDY</h2>
    <fieldset>
        <legend>Programme of Study</legend>
        <table>
            <tr>
                <td>Programme Title:</td>
                <td><input type="text" name="programme_title"></td>
            </tr>
            <tr>
                <td>Duration:</td>
                <td><input type="text" name="duration"></td>
            </tr>
            <tr>
                <td>Start Date:</td>
                <td><input type="date" name="start_date"></td>
            </tr>
            <tr>
                <td>End Date:</td>
                <td><input type="date" name="end_date"></td>
            </tr>
            <tr>
                <td>Mode of Study:</td>
                <td><input type="text" name="mode_of_study"></td>
            </tr>
        </table>
    </fieldset>

    <h2>SECTION 6: FINANCIAL ASSISTANCE</h2>
    <fieldset>
        <legend>Financial Assistance</legend>
        <table>
            <tr>
                <td>Sponsored by Employer:</td>
                <td><input type="checkbox" name="financial_assistance" value="Sponsored by Employer"></td>
            </tr>
            <tr>
                <td>Sponsored by Government:</td>
                <td><input type="checkbox" name="financial_assistance" value="Sponsored by Government"></td>
            </tr>
            <tr>
                <td>PTPTN / MARA:</td>
                <td><input type="checkbox" name="financial_assistance" value="PTPTN / MARA"></td>
            </tr>
            <tr>
                <td>Self Finance:</td>
                <td><input type="checkbox" name="financial_assistance" value="Self Finance"></td>
            </tr>
            <tr>
                <td>Scholarship:</td>
                <td><input type="checkbox" name="financial_assistance" value="Scholarship"></td>
            </tr>
            <tr>
                <td>Others:</td>
                <td><input type="checkbox" name="financial_assistance" value="Others"></td>
                <td><input type="text" name="others_specify"></td>
            </tr>
        </table>
    </fieldset>

    <fieldset>
        <legend>Company Information</legend>
        <table>
            <tr>
                <td>Company Name:</td>
                <td><input type="text" name="company_name"></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input type="text" name="address"></td>
            </tr>
            <tr>
                <td>Postcode:</td>
                <td><input type="text" name="postcode"></td>
            </tr>
            <tr>
                <td>Town:</td>
                <td><input type="text" name="town"></td>
            </tr>
            <tr>
                <td>State:</td>
                <td><input type="text" name="state"></td>
            </tr>
            <tr>
                <td>Country:</td>
                <td><input type="text" name="country"></td>
            </tr>
            <tr>
                <td>Office No.:</td>
                <td><input type="text" name="office_no"></td>
            </tr>
            <tr>
                <td>Mobile No.:</td>
                <td><input type="text" name="mobile_no"></td>
            </tr>
        </table>
    </fieldset>

    <h2>SECTION 7: DECLARATION BY APPLICANT</h2>
    <fieldset>
        <legend>Declaration</legend>
        <p>I, the undersigned, hereby declare that the information provided in this application is true and accurate to the best of my knowledge. I understand that any false or misleading information may result in the rejection of my application or termination of my enrollment.</p>
        <table>
            <tr>
                <td>Name of Applicant:</td>
                <td><input type="text" name="applicant_name"></td>
            </tr>
            <tr>
                <td>NIRC/Passport No.:</td>
                <td><input type="text" name="nirc_passport_no"></td>
            </tr>
            <tr>
                <td>Signature of Applicant:</td>
                <td><input type="text" name="applicant_signature"></td>
            </tr>
            <tr>
                <td>Date:</td>
                <td><input type="date" name="applicant_date"></td>
            </tr>
        </table>
    </fieldset>

    <h2>OFFICE USE ONLY</h2>
    <fieldset>
        <legend>Office Use Only</legend>
        <table>
            <tr>
                <td>Registration:</td>
                <td>
                    <input type="radio" name="registration" value="Malaysian"> Malaysian
                    <input type="radio" name="registration" value="International"> International
                </td>
            </tr>
            <tr>
                <td>Counseled by:</td>
                <td><input type="text" name="counseled_by"></td>
                <td>Date:</td>
                <td><input type="date" name="counseled_date"></td>
            </tr>
            <tr>
                <td>Introduced by:</td>
                <td><input type="text" name="introduced_by"></td>
                <td>Date:</td>
                <td><input type="date" name="introduced_date"></td>
            </tr>
            <tr>
                <td>Registration Fees paid:</td>
                <td>
                    <input type="checkbox" name="registration_fees_paid" value="Yes"> Yes
                    <input type="checkbox" name="registration_fees_paid" value="No"> No
                </td>
                <td>Date:</td>
                <td><input type="date" name="registration_fees_date"></td>
            </tr>
            <tr>
                <td>Tuition Fees paid:</td>
                <td>
                    <input type="checkbox" name="tuition_fees_paid" value="Yes"> Yes
                    <input type="checkbox" name="tuition_fees_paid" value="No"> No
                </td>
                <td>Date:</td>
                <td><input type="date" name="tuition_fees_date"></td>
            </tr>
            <tr>
                <td>Documents Complete:</td>
                <td>
                    <input type="checkbox" name="documents_complete" value="Yes"> Yes
                    <input type="checkbox" name="documents_complete" value="No"> No
                </td>
                <td>Date:</td>
                <td><input type="date" name="documents_complete_date"></td>
            </tr>
        </table>
    </fieldset>

    <fieldset>
        <legend>Signatures</legend>
        <table>
            <tr>
                <td>Registrar:</td>
                <td><input type="text" name="registrar_signature"></td>
            </tr>
            <tr>
                <td>Dean/Coordinator:</td>
                <td><input type="text" name="dean_coordinator_signature"></td>
            </tr>
        </table>
    </fieldset>
    <input type="submit" value="Submit">
</form>


</body>
</html>